
@font-face{font-family:'Roboto-Regular';src:url(../fonts/fonts/Roboto-Regular.eot);src:url(../fonts/fonts/Roboto-Regular.eot?#iefix) format('embedded-opentype'),url(../fonts/fonts/Roboto-Regular.woff2) format('woff2'),url(../fonts/fonts/Roboto-Regular.woff) format('woff'),url(../fonts/fonts/Roboto-Regular.ttf) format('truetype'),url(../fonts/fonts/Roboto-Regular.svg#Roboto-Regular) format('svg')}

.rb_bnr { width:100%; float:left; position:relative; z-index: 99999;}
.rb_bnr img { width:100%;}
.rb_blk { background-color:#191919;}
.rb_blk .shw_wrp { width:95%; margin:0 auto;}
.rb_blk .rtnDisp { width:100%; height:60px; float:left; margin-top:0px; margin-bottom: 5px; left:10px;}
.rb_blk .rtnDisp .strs { width:205px; float:left;}
.rb_blk .rtnDisp .strs a { width:32px; height:30px; float:left; margin-right:3px;}
.rb_blk .rtnDisp .strs a img { width:100%;}
.rb_blk .rtnDisp .rws { float:left; margin-right:40px; color:#999999; font-size:22px; line-height:34px; font-weight:normal;}
.rb_blk .rb_cn { width:100%; float:left;}
.rb_blk .rb_cn p { font-size:24px; color:#fff; font-weight:normal;  font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif !important; text-align:left;}
.rb_blk .rb_cn .ps { color:#999999; margin-bottom:5px; line-height:18px; }
.rb_blk .tab_blk { width:100%; float:left; margin-top:30px; font-size:24px; color:#fff; text-align:left; padding-bottom: 90px;}
.rb_blk .tab_blk .nav { width:100%; height:inherit; margin:0px;}
.nav-tabs>li { margin-right:80px;}
.rb_blk .nav-tabs>li>a { font-size:16px; color:#fff; background-color: transparent; border:none; padding:0; padding-top:10px;}
.rb_blk .nav-tabs { border-top:solid 3px #000; border-bottom:none !important;}
.rb_blk .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus { border:none; color:#fff; background-color:transparent; border-top:solid 4px #9c1d1f; padding-top:10px; margin-top:-4px;}
.rb_blk .nav-tabs>li a span { width:34px; height:36px; float:left; margin-right:22px;}
.rb_blk .nav-tabs>li a span img { width:100%;}
.rb_blk .inr_nav { width:100%; height:50px; float:left; margin-top:25px; margin-bottom:20px;}
.rb_blk .inr_nav a { float:left; margin-right:50px; text-transform:uppercase; font-size:24px; color:#fff;}
.rb_blk .inr_nav a.active { font-weight:bold;}
.rb_blk .tmg { float:right; color:#999999}
.rb_blk .tab-content p span { color:#999999;}
.rb_blk .gms { float:left; width:100%;}
.rb_blk .gms .gm { width:45%; margin:0 1.6%; float:left;}
.rb_blk .gms .gm img { width:100%;}
.rb_blk .pr_img { width:100%;}
.rb_blk .nav-tabs>li { margin-right:20px !important;}
.addbtn{
    height: 38px;
    display: inline-block;
    border: 1px solid #818181;
    text-align: center;
    line-height: 38px;
    color: #fff;
    font-size: 16px;
    margin: 6px 6px 0px 0px;
    float: left;
	 border-radius: 4px;
	 width:100%;
	 background-color:#000000;
	}
.addbtn:hover{ background-color:rgba( 255,255,255,0.8);}
.addbtn span{ font-size:20px; margin-right:8px;}

.shwtitle {
    text-align: left;
    margin-bottom: 0;
    font-size: 18px;
    color: #fff;
    /* margin-top: 25px; */
    position: absolute;
    bottom: 0px;
	left:10px;
}
.episod_title{ text-align:left; margin-bottom:0; font-size:15px; color:#fff; } 
.closebtn{ width: 25px;
    height: 25px;
    
    position: absolute;
    top: 9px;
    right: 8px;
    background-image: url(../img/close_ico.png);
    padding: 30px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 100% 10%;}

.playbtn{ width: 50px;
    height: 50px;
    border: 1px solid #fff;
    position: absolute;
    top: 1px;
    right: 42%;
    background-image: url(../img/play_ico.png);
    background-size: cover; transition:all ease-out 0.2s;}
.playbtn:hover{ transform:scale(1.1); background-image: url(../img/playRed.png);}

.playbtn_tab{ width: 50px;
    height: 50px;
    
    position: absolute;
    top: 64px;
    right: 42%;
    background-image: url(../img/play_ico.png);
    background-size: cover;}
	
.pr_vd{ position:relative;}
#seassions_list
{
background:none;
padding:15px;
border:none;
color:#FFFFFF;
}
#video_desc{   font-size:14px; color:#fff; font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif !important;}
.episode_desc{ font-size:14px; color:#fff !important; border-bottom:1px solid #000;padding:6px;}
#vc {  font-size:12px;}
@media screen and (min-width:768px){
.rb_blk .shw_wrp {     width: 100%;}

	}

@media screen and (min-width:480px) and (max-width:767px){
.rb_blk .shw_wrp { width: 95%;}
.rb_blk .rtnDisp .rws {     margin-right: 26px; font-size: 18px;}
.rb_blk .rb_cn p { font-size:20px;}
.rb_blk .tab_blk {  font-size:20px;}
.episod_title { line-height:69px;}

	}
@media screen and (min-width:375px) and (max-width:479px){
/*.rb_blk .shw_wrp { width: 335px;}*/
.rb_blk .rtnDisp .rws {     margin-right: 15px; font-size: 13px;}
.rb_blk .rb_cn p { font-size:18px;}
.rb_blk .tab_blk {  font-size:18px;}
.rb_blk .rtnDisp .strs a { width:25px;}
.rb_blk .rtnDisp .strs {     width: 170px;}
.nav-tabs>li { margin-right:15px;}
.rb_blk .inr_nav { height: 22px;}
.rb_blk .inr_nav a {     margin-right: 40px;  font-size: 18px;}
.rb_blk .nav-tabs>li>a { font-size:16px;     padding-bottom: 20px;}
.rb_blk .nav-tabs>li a span { width:25px;}
	}
@media screen and (min-width:360px) and (max-width:374px){
/*.rb_blk .shw_wrp { width: 330px;}*/
.rb_blk .rtnDisp .rws {     margin-right: 15px; font-size: 13px;}
.rb_blk .rb_cn p { font-size:18px;}
.rb_blk .tab_blk {  font-size:18px;}
.rb_blk .rtnDisp .strs a { width:20px;}
.rb_blk .rtnDisp .strs {     width: 155px;}
.nav-tabs>li { margin-right:59px;}
.rb_blk .inr_nav { height: 22px;}
.rb_blk .inr_nav a {     margin-right: 40px;  font-size: 18px;}
.rb_blk .nav-tabs>li>a { font-size:16px;     padding-bottom: 20px;}
.rb_blk .nav-tabs>li a span { width:25px;}
	}
@media screen and (min-width:320px) and (max-width:359px){
/*.rb_blk .shw_wrp { width: 290px;}*/
.rb_blk .rtnDisp .rws { line-height:22px;  margin-right: 15px; font-size: 13px;}
.rb_blk .rb_cn p { font-size:16px;}
.rb_blk .tab_blk {  font-size:16px;}
.rb_blk .rtnDisp .strs a { width:15px;}
.rb_blk .rtnDisp .strs {     width: 120px;}
.nav-tabs>li { margin-right:40px;}
.rb_blk .inr_nav { height: 22px;}
.rb_blk .inr_nav a {     margin-right: 39px;  font-size: 16px;}
.rb_blk .nav-tabs>li>a { font-size:16px;     padding-bottom: 20px;}
.rb_blk .nav-tabs>li a span { width:25px;}
	}

/* Style My account */

.colorgrey {
color:#ddd;
}

.borderbottom {
	border-bottom:1px solid #666;
	padding-bottom:10px;
	font-size:18px;
}
.colorred {
    color: #9c1d1f;
}
.buttoncancelmem {	
	color: #000;
    background: #9c1d1f;
    padding: 10px 10px;
    border-radius: 2px;
	text-transform:uppercase;
	font-size:12px;
	display:inline-block;
	cursor:pointer;
}
.buttoncencelbut {
	color:#000;
	background:#9c1d1f;
	padding:10px;
	border-radius:2px;
	text-transform:uppercase;
	font-size:12px;
	display:inline-block;
	cursor:pointer;
}

.buttoncancelround {
    color:#000;
    background:#9c1d1f;
    padding: 8px 10px;
    border-radius: 100px;
    text-transform:uppercase;
    font-size:12px;
    display:inline-block;
    cursor:pointer;
    margin-top: -30px;
}
.iconsize { 
font-size: 14px;
}

.paddingtop30 {
padding-top:30px;
}

.clearmargin {
height:10px;
clear:both;
}

.ullistmargin ul {
	margin:0;
	padding: 20px;
}
.ullistmargin ul li {

    padding-bottom: 10px;
    font-size: 13px;
}
.weightbold {
font-weight:bold;
display:block;
cursor:pointer;
text-align:right;
padding:10px;
}

.inputcodebtn {
    background-color: #3e3e3e !important;
    border: 1px solid #464646 !important;
    padding: 5px 20px;
    color:#ddd;
    cursor:pointer;
}
.inputcode {
    background-color: #000 !important;
    border: 1px solid #464646 !important;
}

#adddevice {display: none}

.textredcolor { 
    color:#ff3333; 
    font-weight:bold;
}
.colordarkgrey {
    color:#888;
}
.displaynone {
    display: none;
}

.clearDiv{ clear: both; }
