@charset "utf-8";
/* CSS Document */


nav{ position:fixed; z-index:999999; top:65px; bottom:0; width:100%;/* background-color:#222; /*transform:translate3d(-280px, 0, 0);*/ transition:all .2s ease; height:100vh;
margin-left:-100%; /*overflow-y
:scroll;*/}

.navbrd{ border-top:1px solid #333;}

.active-nav nav{  margin-left:0px;  transition:all .2s ease; /* transform:translate3d(0, 0, 0);*/}

nav ul{ list-style:none; padding-left:0; margin-left:0; overflow-x:hidden;}
nav ul li a { text-decoration:none; display:block; padding: 8px 0px 8px 40px; margin:5px 20px; border-left:0px solid transparent; transition:all ease-out 0.2s; color:#aaa; font-weight:bold; color:#fff; font-family:'myriad'; font-size:16px;}
/*nav ul li a:hover{ color:#fff; 
   background: -webkit-linear-gradient(#ce494d, #b42528, #6d0b0c);  
  background: -o-linear-gradient(#ce494d, #b42528, #6d0b0c); 
  background: -moz-linear-gradient(#ce494d, #b42528, #6d0b0c);  
  background: linear-gradient(#ce494d, #b42528, #6d0b0c);  
  } */

nav ul li a.active{ color:#fff; 
background: #ce494d; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ce494d, #b42528, #6d0b0c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ce494d, #b42528, #6d0b0c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ce494d, #b42528, #6d0b0c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ce494d, #b42528, #6d0b0c); /* Standard syntax */
  }

.navrts{ color:#888; font-size:12px; font-family:'opensans_regular'; padding:5px 10px 10px 10px;}

.mainCont{ width:100%; height:100%; background-color:#F66; bottom:0; transition:all 0.2s ease;}
 
.blurdiv{ -webkit-filter: blur(0px);   filter: blur(0px); transition:all 0.2s ease;}
.blurdivAct{ -webkit-filter: blur(10px); filter: blur(10px);}
.header{ width:100vw; height:70vh; background-color:#F60; text-align:center; line-height:280px;}
.footer{ width:100vw; height:30vh; background-color:#C60; text-align:center; line-height:100px; }

.nav-togglebtn{
	    width: 40px;
    height: 65px;
    display: block;
    position: absolute;
    left: 15px;
    top: 18px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    color: #ddd;
    font-size: 1.5em;    
}

.darkscreen{ width:100vw; height:0; background-color:rgba(0,0,0,0); position:fixed; z-index:10;  top:64px;}
.active-nav .darkscreen{ background-color:rgba(0,0,0,0.6); z-index:100000; height:100vh;}


/*MENU ICON */



.bar1, .bar2, .bar3 {
        width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
    border-radius: 1px;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-0, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-4px, -1px) ;
}
.nav_blk { overflow: scroll; height: 85vh;}
.n_fotter { margin-bottom:0px;}
.n_ctgy { display:none;}

